<div class="container">
  <div class="row mt-3">
    <div class="card-group mt-2">
      <% @artists.each do |artist|%>
        <div class="col-sm-4 m-auto">
          <div class="card text-center" style="width: 18rem;">
            <img src="<%= artist.image_url %>" class="card-img-top" alt="album">
            <div class="card-body">
              <h5 class="card-title"><%= artist.name %></h5>
              <%= link_to 'Ver más', artist, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
